

<style>
nav {
background-color: black;
overflow: hidden;
}

nav a {
float: left;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

nav a:hover {
background-color: #ddd;
color: black;
}
.section {
background-color: white;
padding: 20px;
margin: 20px;
border-radius: 10px;
}
.green-box {
           
			background-color: #66D050;
			width: 1838px;
			height: 200px;
			padding: 20px;
		}
		.white-box {
			background-color: white;
			width: 1800px;
			height:160px;
			padding: 20px;
		}
		h1 {
			text-align: center;
		}
		.espacio {
        margin-bottom: 20px;
               }
.grand-box {
           
			background-color: #66D050;
			width: 1838px;
			height: 400px;
			padding: 20px;
		}
		.little-box {
			background-color: white;
			width: 1800px;
			height:140px;
			padding: 20px;
			         }
</style>

